# General secrets

PORT = 
SECRET_KEY = 
APP_URL = 
ENVIRONMENT = 

# Database secret

DATABASE_URL="mongodb://192.168.1.105:27017/pokepai"
# DATABASE_URL = "mongodb+srv://admin:tIVoBNqUIgqe37DA@cluster0.l3e0y.mongodb.net/digital_eazy_web_app?retryWrites=true&w=majority"


# Whatsapp secrets

WHATSAPP_API_BASE_URL = 
WHATSAPP_API_TOKEN = 